<div class="container">
    <div class="header">Creating your playlist...</div>
    <div class="text">Meanwhile, you can save your travel details and playlist
        (Requires registration)
    </div>
    <div class="buttons">
        <div class="save">
            <button (click)="save()">
                <div class="layout">
                    <mat-icon>save</mat-icon>Save
                </div>
            </button>
        </div>
        
        <div class="skip">
            <button (click)="skip()">
                <div class="skip-layout">
                    <img src="./assets/images/spotify-logo.webp" alt="">Skip
                </div>
            </button>
        </div>
    </div>
</div>