<div class="container">
    <div class="title">
        <p>Thank you, <span>{{spotifyUser.displayName}}!</span></p>
    </div>
    <iframe style="border-radius:12px" [width]="400" [src]="playlistEmbedUrl | safe" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <div class="right-panel">
        
        <div class="text">Your playlist has been created!</div>
        <div class="view" (click)="goToPlaylist()">
            <button>
                <div class="view-layout">
                    <img src="./assets/images/spotify-logo.webp" alt="">Listen Now
                </div>
            </button>
        </div>
        <div class="new" (click)="goToLogin()">
            <button>
                <div class="layout">
                    Create account
                </div>
            </button>
        </div>
    </div>

</div>