<div class="container">
  <div class="navbar">
    <div class="left">
      <button mat-icon-button class="home" (click)="goToHome()">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div *ngIf="!isLoggedIn">
      <button mat-icon-button class="menu-bar" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="panel">
        <button mat-menu-item (click)="login()">
          <span>Log In</span>
        </button>
      </mat-menu>
    </div>
    
    <div *ngIf="isLoggedIn">
      <button mat-icon-button class="menu-bar" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="panel">
        <button mat-menu-item disabled>
          <div>{{username}}</div>
        </button>
        <button mat-menu-item (click)="newTrip()">
          <span>New Trip</span>
        </button>
        <button mat-menu-item (click)="viewDashboard()">
          <span>Dashboard</span>
        </button>
        <button mat-menu-item (click)="viewSpotify()">
          <span>View your Spotify</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="app-outlet">
    <router-outlet></router-outlet>
  </div>
</div>