<div class="container">
    <div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
            <div class="login">
                <h2>Login</h2>
                <div *ngIf="isLoginFailed" class="status">
                    <p>{{errorMessage}}</p>
                </div>
                <mat-form-field appearance="outline" [style.width.px]=250 [style.height.px]=70>
                    <mat-icon matPrefix>perm_identity</mat-icon>
                    <mat-label>Username</mat-label>
                    <input class="text" matInput formControlName="loginUsername">
                </mat-form-field>
                <mat-form-field appearance="outline" [style.width.px]=250 [style.height.px]=70>
                    <mat-icon matPrefix>fingerprint</mat-icon>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="loginPassword">
                </mat-form-field>
                <button type="submit" [disabled]="loginForm.invalid">Log in</button>
            </div>
        </form>
        <div class="others">
            <div class="toRegister">
                <button (click)="toRegister()">
                    <u>Sign up</u>
                </button>
            </div>
            <div class="toRegister">
                <button (click)="skip()">
                    <u>Create playlist without login</u>
                </button>
            </div>
        </div>
    </div>
</div>